/* util */
.d-flex{display:flex;}

/* typo */
.page-tit{@apply typo-display-lg-bold fc-200;}
.page-txt{@apply typo-body-lg-regular fc-400;}
.cont-tit{@apply typo-heading-lg-bold fc-400;}
.cont-txt{@apply typo-body-md-regular fc-400;}

/* icon */
.ico{min-width:24px;width:24px;height:24px;color:var(--icon-color-600);}
.ico-s16{min-width:16px;width:16px;height:16px;}
.ico-s20{min-width:20px;width:20px;height:20px;}
.ico-s24{min-width:24px;width:24px;height:24px;}
.ico-s28{min-width:28px;width:28px;height:28px;}
.ico-s32{min-width:32px;width:32px;height:32px;}

/* tag */
.tag-list{display:flex;flex-wrap: wrap;}
.tag{display:inline-flex !important;align-items: center;padding:4px 16px;margin:0 8px 12px 0;background-color:var(--bg-color-default);border-radius: var(--border-radius-max);}
.tag img{width:20px;height:20px;}
.tag .ico + .label{margin-left:6px;}

/* 테마아이콘 */
.ico-light{display:none;}
[data-theme="light"] .ico-dark{display:block;}
[data-theme="dark"] .ico-dark{display:none;}
[data-theme="dark"] .ico-light{display:block;}

/* layout */
body{background-color:var(--body-bg-color);}
.inner{width:1024px;margin: 0 auto;}

.work-mainVisual{display:flex;align-items: center;justify-content:center;height:180px;background-color:#15c5ce;}
.work-mainVisual svg{width:70%;}

.work-summary{margin:60px auto 80px;}
.work-summary .page-tit{margin-bottom:16px;}
.work-summary .page-txt{margin-bottom:24px;}
.work-summary .left-area{width:800px;margin-right:60px;}
.work-summary .right-area{min-width:200px;flex:1;}
.work-summary .right-area dl{display:flex;margin-bottom:24px;padding-left:10px;border-left:2px solid var(--border-color-light);}
.work-summary .right-area dt{@apply fc-900;width:80px;line-height:18px;}
.work-summary .right-area dd{line-height:18px;}

.work-cont{margin-bottom:160px;}
.work-cont .cont-tit{margin-bottom:12px;}
.work-cont .cont-txt{margin-bottom:24px;}

.fixed-btn-area{position:fixed;bottom:40px;right:40px;}
.fixed-btn-area button{width:48px;height:48px;border:1px solid var(--border-color-default);border-radius:var(--border-radius-circle);display:flex;align-items: center;justify-content: center;}
.fixed-btn-area button + button{margin-top:8px;}
.fixed-btn-area .ico{color:var(--icon-color-100)}

.box-list-area{display:flex;justify-content:space-between;}
.box-list-item{width:32%;}
.box-list-item a{display:flex;align-items: center;justify-content: space-between;width:100%;height:100%;padding:16px;background-color: var(--bg-color-tonal-default);border-radius: 4px;border:1px solid var(--border-color-tonal-default);transition: .3s;}
.box-list-item a svg{opacity: .5;transition: .3s;}
.box-list-item a:hover{transform:translateY(-10px) ;}
.box-list-item a:hover svg{opacity: 1;}

.img-area{position:relative;border-radius: 16px;overflow: hidden;border:1px solid #272727;}

.btn-txtLink{color:red;}

.btn-github .ico{color:var(--icon-color-100);}
.btn-github .ico + .label{margin-left:6px;text-decoration: underline;}

.badge{position:absolute;top:8px;right:8px;padding:4px 20px;color:#fff;font-weight:bold;background-color:rgba(0,0,0,.7);border-radius: var(--border-radius-max);}

