/*bs-table reset*/
.table td,
.table th{border-top:0;}
.table thead th{border-bottom:0;}

/*bs-table*/

.table{width:100%;margin:0;}
.table th{padding:8px 14px;font-weight:500;background:#f5f5f5;border-bottom:1px solid #eee;vertical-align: middle;}
.table td{height:50px;padding:8px 14px;border-bottom:1px solid #eee;word-break:break-all;vertical-align: middle;}


